@page "/covid19"

@using NodaTime 

@using GGNet.Components

@using Table.Net 

@using Data

@inject Covid19Service Service

<div class="row flex-fill mx-0">

    <!-- Side Menu -->
    <div class="col-auto px-0 pt-2 bg-light border-right">
        <ul class="list-unstyled h3">
            <li class="mb-3 cursor-pointer" @onclick=@(() => sideMenuItem = 0)><a class="px-3 @(sideMenuItem != 0 ? "text-secondary" : "")"><i class="fas fa-fw fa-globe-europe"></i></a></li>
            <li class="mb-3 cursor-pointer" @onclick=@(() => sideMenuItem = 1)><a class="px-3 @(sideMenuItem != 1 ? "text-secondary" : "")"><i class="fas fa-fw fa-lungs-virus"></i></a></li>
            <li class="mb-3 cursor-pointer" @onclick=@(() => sideMenuItem = 2)><a class="px-3 @(sideMenuItem != 2 ? "text-secondary" : "")"><i class="fas fa-fw fa-birthday-cake"></i></a></li>
            <li class="mb-3 cursor-pointer" @onclick=@(() => sideMenuItem = 3)><a class="px-3 @(sideMenuItem != 3 ? "text-secondary" : "")"><i class="fas fa-fw fa-hand-holding-medical"></i></a></li>
        </ul>
    </div>

    <!-- Content -->
    <div class="col d-flex">

        @if (data == null)
        {
            <div class="m-auto">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <!-- Main -->
            <div class="row flex-fill @(sideMenuItem != 0 ? "d-none" : "")">

                <!-- Main Left -->
                <div class="col-6 px-0 d-flex flex-column border-right">
                    <div class="pl-5">
                        <h3>2019–20 coronavirus pandemic</h3>
                        <p class="fa-xs">Data Source: <a href="https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases">European Center for Disease Prevention and Control (ECDC)</a></p>
                    </div>

                    <div class="">
                        <div style="height: 0; padding-bottom: calc(360 / 720 * 100%);">
                            <Plot Data=@map T=TS TX=Double TY=Double Width=720 Height=360 />
                        </div>
                    </div>

                    <div class="flex-fill mt-2">
                        <div class="position-relative h-100 overflow-auto">
                            <div class="position-absolute w-100 fa-xs">
                                <Table Loader=@(() => Loader.Data(data)) Context="p" Sort="-1" Small=true OnRowClick=@((TS o) => OnClick(o))>
                                    <Loading><p>Loading...</p></Loading>
                                    <Header>
                                        <Column Field="Name" Label="Country" Sortable=true />
                                        <Column Field="ConfirmedCumulative" Label="Confirmed" Sortable=true Sort="-1" />
                                        <Column Field="ConfirmedDelta" Label="&Delta;" Sortable=true />
                                        <Column Field="ConfirmedDoubleDays" Label="x2" Sortable=true />
                                        <Column Field="DeathsCumulative" Label="Deaths" Sortable="true" />
                                        <Column Field="DeathsDelta" Label="&Delta;" Sortable=true />
                                        <Column Field="DeathsDoubleDays" Label="x2" Sortable=true />
                                        <Column Field="CFR" Sortable=true Tooltip="<b>Case Fatality Rate</b><br/>Deaths to Confirmed cases ratio" TooltipPlacement="left" />
                                    </Header>
                                    <Row>

                                        @{
                                                var (confirmed, deaths) = sparks[p.Country.A2];
                                        }

                                        <Cell>@(p.Country.Name)</Cell>

                                        <Cell Align=Align.Left>
                                            <div class="row text-center">
                                                <div class="col flex-grow-0 pr-1">
                                                    <div style="width: 75px; height: 25px;">
                                                        <GGNet.Components.SparkLine Data=@confirmed T=TS.Point TX=LocalDate TY=Double />
                                                    </div>
                                                </div>
                                                <div class="col flex-grow-0 p-0 my-auto">
                                                    @($"{p.ConfirmedCumulative:#,##0}")
                                                </div>
                                            </div>
                                        </Cell>
                                        <Cell Align=Align.Left>
                                            +@($"{p.ConfirmedDelta:#,##0}")
                                        </Cell>
                                        <Cell Align=Align.Left>
                                            @(p.ConfirmedDoubleDays > 0 ? $"{p.ConfirmedDoubleDays:#,##0} Days" : "")
                                        </Cell>
                                        <Cell Align=Align.Left>
                                            <div class="row text-center">
                                                <div class="col flex-grow-0 pr-1">
                                                    <div style="width: 75px; height: 25px;">
                                                        <GGNet.Components.SparkLine Data=@deaths T=TS.Point TX=LocalDate TY=Double />
                                                    </div>
                                                </div>
                                                <div class="col flex-grow-0 p-0 my-auto">
                                                    @($"{p.DeathsCumulative:#,##0}")
                                                </div>
                                            </div>

                                        </Cell>
                                        <Cell Align=Align.Left>
                                            +@($"{p.DeathsDelta:#,##0}")
                                        </Cell>
                                        <Cell Align=Align.Left>
                                            @(p.DeathsDoubleDays > 0 ? $"{p.DeathsDoubleDays:#,##0} Days" : "")
                                        </Cell>
                                        <Cell Align=Align.Left>
                                            @($"{p.CFR:P2}")
                                        </Cell>
                                    </Row>
                                </Table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main Right -->
                <div class="col-6 px-0 d-flex flex-column">

                    <ul class="nav nav-u">
                        <li class="nav-item cursor-pointer" @onclick=@(() => mainMenuItem = 0)>
                            <a class="nav-link @(mainMenuItem == 0 ? "active" : "")"><i class="fas fa-xs fa-chart-line mr-1"></i>Chart</a>
                        </li>
                        <li class="nav-item cursor-pointer" @onclick=@(() => mainMenuItem = 1)>
                            <a class="nav-link @(mainMenuItem == 1 ? "active" : "")"><i class="fas fa-xs fa-table mr-1"></i>Data</a>
                        </li>
                    </ul>

                    <!-- Main Right Chart -->

                    <div class="@(mainMenuItem == 0 ? "flex-fill d-flex flex-column" : "d-none") p-3">

                        <h4 class="mb-3">@ts.Name</h4>

                        <div class="d-flex">
                            @if (ts.ConfirmedDouble != null)
                            {
                                <div class="card m-0 covid shadow-sm">
                                    <div class="card-body p-2">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="text-uppercase text-muted mb-2">
                                                    Confirmed Double
                                                </h6>

                                                <span class="h5 mb-0">
                                                    @ts.ConfirmedDouble.Days Days
                                                </span>

                                                <span class="badge badge-pill mt-n1" style="background-color: var(--confirmed-color); color: #FFFFFF">X @($"{ts.ConfirmedDouble.Rate:N1}")</span>
                                            </div>
                                            <div class="col-auto">
                                                <i class="h5 text-muted fas fa-virus"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (ts.DeathsDouble != null)
                            {
                                <div class="card m-0 covid shadow-sm">
                                    <div class="card-body p-2">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="text-uppercase text-muted mb-2">
                                                    Deaths Double
                                                </h6>

                                                <span class="h5 mb-0">
                                                    @ts.DeathsDouble.Days Days
                                                </span>

                                                <span class="badge badge-pill mt-n1" style="background-color: var(--deaths-color); color: #FFFFFF">X @($"{ts.DeathsDouble.Rate:N1}")</span>
                                            </div>
                                            <div class="col-auto">
                                                <i class="h5 text-muted fas fa-skull-crossbones"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (ts.Population > 0)
                            {
                                <div class="card m-0 covid shadow-sm">
                                    <div class="card-body p-2">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="text-uppercase text-muted mb-2">
                                                    Per Million
                                                </h6>
                                                @{
                                                    var proportionConfirmed = ts.ConfirmedCumulative / ts.Population * 1000000.0;
                                                    var proportionDeaths = ts.DeathsCumulative / ts.Population * 1000000.0;
                                                }
                                                <span class="h5 mb-0" style="color: var(--confirmed-color)">
                                                    @(proportionConfirmed >= 0.01 ? $"{proportionConfirmed:N2}" : "< 0.01")
                                                </span>
                                                <span class="h5">/</span>
                                                <span class="h5 mb-0" style="color: var(--deaths-color)">
                                                    @(proportionDeaths >= 0.01 ? $"{proportionDeaths:N2}" : "< 0.01")
                                                </span>
                                            </div>
                                            <div class="col-auto">
                                                <i class="h5 text-muted fas fa-user-friends"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="flex-fill d-flex">
                            <div class="m-auto flex-fill p-2 border rounded shadow-sm">
                                <Plot Data=@statData T=StatPoint TX=LocalDate TY=Double RenderPolicy=RenderPolicy.Auto Width="720" Height="400" @ref=@statPlot />
                            </div>
                        </div>
                    </div>

                    <!-- Main Right Data -->
                    <div class=@(mainMenuItem == 1 ? "flex-fill d-flex flex-column" : "d-none")>
                        <div class="position-relative h-100 overflow-auto">
                            <div class="position-absolute w-100 fa-xs">
                                <Table Loader=@(() => Loader.Data(ts.Points)) Context="p" Small=true>
                                    <Loading><p>Loading...</p></Loading>
                                    <Header>
                                        <Column Field="Date" Sort="-1" />
                                        <Column Label="Confirmed" />
                                        <Column Label="&Delta;" />
                                        <Column Label="Deaths" />
                                        <Column Label="&Delta;" />
                                    </Header>
                                    <Row>
                                        <Cell>@(p.Date)</Cell>
                                        <Cell Align=Align.Left>@($"{p.ConfirmedCumulative:#,##0}")</Cell>
                                        <Cell Align=Align.Left>@($"+{p.ConfirmedDelta:#,##0}")</Cell>
                                        <Cell Align=Align.Left>@($"{p.DeathsCumulative:#,##0}")</Cell>
                                        <Cell Align=Align.Left>@($"+{p.DeathsDelta:#,##0}")</Cell>
                                    </Row>
                                </Table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row flex-fill @(sideMenuItem != 1 ? "d-none" : "")">
                <div class="col px-0 d-flex flex-column">
                    <div class="w-75 m-auto p-2 border rounded shadow-sm">
                        <Plot Data=@cfr T=TS TX=Double TY=Double Width="720" Height="400" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>
