<div class="d-flex flex-column border rounded-lg shadow-sm mb-3">
    <ul class="nav nav-u">
        <li class="nav-item cursor-pointer" @onclick=Swap>
            <a class="nav-link @(csharp ? "active" : "")">C#</a>
        </li>
        <li class="nav-item cursor-pointer" @onclick=Swap>
            <a class="nav-link @(csharp ? "" : "active")">F#</a>
        </li>
    </ul>
    <div class="@(csharp ? "d-block" : "d-none") flex-fill px-4">
        <pre class="csharp">@CSharp</pre>
    </div>
    <div class="@(csharp ? "d-none" : "d-block") flex-fill px-4">
        <pre class="fsharp">@FSharp</pre>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment CSharp { get; set; }

    [Parameter]
    public RenderFragment FSharp { get; set; }

    private bool csharp = true;

    private void Swap() => csharp = !csharp;
}
