<div class="card header-u">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link @(csharp ? "active" : "")" href="" @onclick=Swap>C#</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(csharp ? "" : "active")" href="" @onclick=Swap>F#</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">

            <div class="tab-pane @(csharp ? "active" : "")"><pre class="csharp">@CSharp</pre></div>

            <div class="tab-pane @(csharp ? "" : "active")"><pre class="fsharp">@FSharp</pre></div>

        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment CSharp { get; set; }

    [Parameter]
    public RenderFragment FSharp { get; set; }

    private bool csharp = true;

    private void Swap() => csharp = !csharp;
}
